.editor {
    padding:0;
    margin:0;
    border: 0;
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
    resize: none;
}
.editor:focus {
    padding:0;
    margin:0;
    border: 0;
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
    resize: none;
}