//Use this file to define global fonts ***

@font-face { 
    font-family: 'OpenSans-Regular';
    src: url('./fonts/OpenSans-Regular.ttf') format('ttf');
}
@font-face { 
    font-family: 'Lato-Regular';
    src: url('./fonts/Lato-Regular.ttf') format('ttf');
}

body {
    padding: 0;
    margin: 0;
}